.image_fixed {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio while scaling */
  object-fit: cover; /* Ensure the image covers the container */
  width: 100vw; /* Optional: to make the image take up full viewport width */
  max-height: 100vh; /* Optional: limit the height to viewport height */
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.card-title {
  color: #007bff; /* Green */
}

.card-text {
  color: #607d8b; /* Grey */
}
/* Home.css */

/* Contact Section Styles */
/* Contact Section Styling */
.contact-section {
  background-color: #f8f9fa; /* Light background */
  height: 50vh; /* Full screen height */
}

.contact-content {
  color: #000; /* Dark text */
}

.contact-name {
  font-size: 36px;
  font-weight: bold;
  animation: slide-in 1s ease-in-out;
  color: #ad3e00; /* Slide-in animation for name */
}

.contact-address {
  font-size: 20px;
  color: #555; /* Slightly lighter color for address */
  animation: fade-in 1.2s ease-in-out; /* Fade-in animation for address */
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start by moving up */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Slide in from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styling */
@media (max-width: 768px) {
  .contact-name {
    font-size: 28px; /* Smaller font size for mobile */
  }

  .contact-address {
    font-size: 18px;
  }
}
